

<!--_______________________________________ Carousel__________________________________ -->

 <section>
 <div class="owl-carousel owl-theme portfolio">

                <div class="item">
               <img src="<%= asset_path 'rkraftc.png' %>" alt="" class="img-fluid image"></a>
                </div>
                       
                <div class="item">
                  <img src="<%= asset_path 'rkraft2c.png' %>" alt="" class="img-fluid image">
                </div>

                <div class="item">
                     <img src="<%= asset_path 'amec.png' %>" alt="" class="img-fluid image">
                </div>

 </div>
</div>
</div>
    <section id="about" class="text">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="heading">About me</h2>
            <p class="lead">I am Maria Tikhonova, Ruby-on-Rails developer</p>
            <p>Ruby and Rails mastering is my priority, though I pay attention to frontend and running in production, </p>
            <p> because, as it happened, I make applications from scratch to deployment</p>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <p><img src="<%= asset_path 'admin.jpg' %>" alt="" class="img-responsive img-circle" style="width: 75%"></p>
          </div>
        </div>
      </div>
    </section>

<section>
</section>
<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    responsive:{
        0:{
            items:1
        },
        1200:{
            items:1.5
        }
    }
})
</script>