 <div class="container"> 
   <h1>Portfolio</h1>
 </div> 

 <section id="rkraft" class="text" style="background-color: #eee;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
          	<a href="http://www.rkraft.com.ua"><div class="icon">
<i class="far fa-eye"></i></div></a>
            <h3 class="heading">Rkraftcomua</h3>
            <p class="lead">E-commerce web-application, made from scratch</p>
            <p class="text-small">E-commerce for several branches' production business, contains of branchy presentation for each section with products pricing, shop and cart in 2 languages. The main business feature is getting inquiries with set of requirements and email notifications </p>
            <p class="text-small">Deployed on heroku, using aws-s3 bucket, had user's authentication with Devise, content upload with Carrierwave, working in 2 languages, English and Russian, with Rails I18n </p>
          </div>
          <div class="col-md-5 col-md-offset-1.1">
            <p><img src="<%= asset_path 'rkraft6.png' %>" alt="" class="img-responsive" style="width: 100%"></p>
          </div>
        </div>
      </div>
 </section>

  <section id="ame" class="text" style="background-color: #eee;">
      <div class="container">
        <div class="row">         
         <div class="col-md-6">
<a href="http://amethystlabs.hk"><div class="icon"><i class="far fa-eye"></i></div></a>
            <p><img src="<%= asset_path 'ame1.png' %>" alt="" class="img-responsive" style="width: 100%"></p>
          </div>
          <div class="col-md-6">
            <h3 class="heading">Amethystlabs</h3>
            <p class="lead">Corporative site of our startup</p>
            <p class="text-small">Site for startup presentation, made with Rails, Bootstrap and Jquery</p>
            <p class="text-small">Deployed on heroku, has 2 mailer forms</p>
          </div>
        </div>
      </div>
 </section>

  <section id="rkraft" class="text" style="background-color: #eee;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="https://github.com/miarhost/eventracker"><div class="icon">
<i class="fab fa-github"></i></div></a>
            <h3 class="heading">Eventracker</h3>
            <p class="lead">Plugin for Redmine cross-platform</p>
            <p class="text-small"></p>
            <p class="text-small">Works within Redmine application and basic interface</p>
          </div>
          <div class="col-md-5 col-md-offset-1.1">
            <p><img src="<%= asset_path 'redm.png' %>" alt="" class="img-responsive" style="width: 100%"></p>
          </div>
        </div>
      </div>
 </section>