@font-face {
    font-family: 'Pacifico';
    src: url(asset_path('Pacifico.ttf'));
    src: local('Pacifico'), local('Pacifico'),
        font-url(asset_path('Pacifico.ttf')) format('truetype');
        font-weight: normal;
        font-style: italic;
}